<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="eventlog" xsi:type="EventLog" log="Application" source="SampleTopshelfSvc" layout="${level:uppercase=true} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=tostring}}" />
    <target name="file" xsi:type="File" fileName="${basedir}/log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}${onexception:inner=${newline}${exception:format=tostring}}" autoFlush="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="eventlog" />
  </rules>
</nlog>